body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {
  overflow: hidden; 
  background-color: #3498db;  
  border: 2px solid #2ecc71;  
  padding: 20px 10px; 
}
.header a {
  float: left;
  color: yellow;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 24px;
}

.header a.logo {
  border: 3px solid #FFD700;
  background-color: #555;
  font-size: 25px;
  font-weight: bold;
  border-radius: 24px;
}

.header a:hover {
  background-color: #A2D9CE;
  border-radius: 24px;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
  border-radius: 24px;
}
.header-right {
  float: right;
}
.container{
  display: flex;
}
.contents{ 
  border: 2px solid transparent; 
  background-color: #2ecc71; 
  width: 35%;
  text-align: center;
}
.inside{
  position: relative;
  top: 10px;
  color: rgb(252, 245, 220);
}
.inside p{
  color: purple;
  padding: 10px;
}
.donationChar{
  border: 2px solid black;
  width: 65%;
  min-height: 100vh;
  text-align: center;
}
.donationChar h2{
  color: #6666ff;
  font-size: 30px;
}
.donationChar .textData{
  color: #003300;
  font-size: 21px;
}
.donationChar .numb{
  color: #990000;
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 24px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

input[type=text]:focus {
  background-color: lightblue;
}

#lname, #fname{
  display: flex;
  width: 40%;
}
.btn{
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  color: green;
  background-color: white;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 24px;
  outline: none;
  border: none;
}
.btn:hover{
  background-color: green;
  color: white;
}
.bot{
  color: black;
  position: relative;
  top: 50px;
}

.error{
  color: red;
  position: relative;
  bottom: 210px;
  left: 160px;
  z-index: 10;
}
.error2{
  color: #002699;
  position: relative;
  bottom: 210px;
  left: 160px;
  z-index: 10;
}
