body{
	background-color: rgba(40,40,40,.5);
}
header a{
	margin: 0;
  	position: absolute;
  	top: 15%;
  	left: 50%;
  	transform: translate(-50%, -60%);
  	z-index: 10;
  	color: black;
  	border: 1px solid black;
  	padding: 10px;
  	border-radius: 5px;
  	text-decoration: none;
  	background-color: white;
}
header a:hover{
	color: white;
	background-color: black;
}
.container{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -60%);
  	border: 2px solid red;
  	border-radius: 5px;
  	padding: 30px;
  	background-color: white;
}