html, body{
	/*width: 100%;*/
	height: 100%;
	margin: auto;
	background-color: darkgrey;

}

.admin_commands{
	//border: 1px solid blue;
	display: block;
	/*justify-content: space-around;*/
	border-bottom: 1px solid black;
}
#empty_space{
	border-left: 1px solid green;
}

.input_area{
	background-color: lightgrey;
	width: 100%;
	height: 50%;
	overflow: auto;
	border-radius: 5px;

}

.output_area{
	background-color: darkgrey;
	width: 100%;
	height: 40%;
	overflow: auto;
	border-radius: 5px;

	display: inline-flex;
	justify-content: space-around;
}


#select_button{
	text-align: center;
	visibility: visible;
}

#out{
	text-align: center;
}

.status_output_text{
	text-align: center;
}


.action_area{
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}


a{
	padding: 10px;
	text-decoration: none;
	color: white;
	
}

.home_link{
	display: flex;
	justify-content: space-around;
}

.command_block{
	padding: 15px;
}

.text_before_input{
	font-size: 18px;
}


.text_before_query{
	font-size: 22px;
}

.inputCSS{
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  margin: 5px;
}

.inputCSS:focus{
	background-color: lightblue;
}



.custom_commands{
	  width: 100%;
	  height: 150px;
	  padding: 12px 20px;
	  box-sizing: border-box;
	  border: 2px solid #ccc;
	  border-radius: 4px;
	  background-color: #f8f8f8;
	  font-size: 16px;
	  resize: none;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: lightgrey}

th {
  background-color: grey;
  color: white;
}

.column_name_row{
	background-color: orange;
}
